<form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Наименование платежа</mat-label>
    <input formControlName="handle" matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Стоимость</mat-label>
    <input formControlName="cost" matInput>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="paymentForm.invalid">Добавить</button>
</form>
<table mat-table [dataSource]="paymentList" class="mat-elevation-z8">

  <ng-container matColumnDef="handle">
    <th mat-header-cell *matHeaderCellDef>Наименование платежа</th>
    <td mat-cell *matCellDef="let element"> {{element.handle}}</td>
  </ng-container>

  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Стоимость</th>
    <td mat-cell *matCellDef="let element"> {{element.cost}}</td>
  </ng-container>

  <ng-container
    *ngFor="let index of [0,1,2,3,4,5,6,7,8,9,10,11]"
    matColumnDef="{{monthEN[index]}}"
  ><th mat-header-cell *matHeaderCellDef>{{monthRU[index]}}</th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox
        [(ngModel)]="element.month[index]"
        (click)="calculateTotalCost()"
        (change)="calculateTotalCost()"
      ></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Удалить</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon class="delete-icon" (click)="deletePayment(element.handle)">cancel</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<p class="total-cost-info">Израсходовано средств: {{totalCost}}</p>

