table {
  width: 70%;
}

.delete-icon {
  color: #676767;
  cursor: pointer;
  margin: 10px;
}

.delete-icon:hover {
  color: #535353;
}

.delete-icon:active {
  color: #1c1c1c;
}

table th {
  font-size: 0.9rem;
}

mat-form-field {
  width: 300px;
  margin-right: 40px;
}

.total-cost-info {
  margin-top: 30px;
}
